html {
  font-size: 62.5%;
}

body {
  margin: 0 4rem;
}

#calendar {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}

/* Estiliza o bloco onde está o nome do dia da semana */
.fc-col-header-cell {
  background-color: #d9d9d9; 
  font-size: 2rem; 
  text-align: center; 
  font-weight: bold;
}

.fc-day-today {
  background-color: red;
  color: #fff;
}

.fc-event-title, .fc-event-time {
  font-size: 1.2rem !important; 
  
}

.annualAndMonthly {
  color: #262626;
  font-weight: bold;
}

.weekly {
  color: #fff;
}

/* Ícone de deletar que aparece ao passar o mouse no evento */
.deleteIcon {
  position: absolute;
  right: 2px;
  top: 0;
  display: none;
  color: red;
  background-color: white;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 100;
}

/* Exibir o ícone ao passar o mouse sobre o evento */
.fc-event:hover .deleteIcon {
  display: block;
}


#calendar .fc-button {
  background-color: red !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 15px !important;
  font-size: 1.4rem !important;
  margin: 2px;
}

#calendar .fc-button.fc-button-active {
  background-color: #262626 !important;
  color: #fff !important;
}

.hide{
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-confirm{
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  cursor: pointer;

}

#delete-container{
  width: 550px;
  height: 220px;
  margin: auto;
  background-color: #262626;
  color: #C5C5C5;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

#delete-container > h2{
  font-size: 22px;
  text-align: center;
  margin-top: 50px;

}
#delete-container > p{
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: .5px;
}

.buttons{
  position: absolute;
  right: 15px;
  bottom: 10px;
  display: flex;
  gap: 16px;
}

.buttons > button {
  border: none;
  /* background: none; */
  font-size: 16px;
  padding: 2px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

#cancel-btn{
  background: transparent;
  border: solid 1.5px #C5C5C5;
  color: #C5C5C5;
}
#delete-btn{
  background: #FF0000;
  color: #fff;
}

/* Estilos do Modal */

#addEventModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: auto;
}

.modal-content h2 {
  margin-bottom: 1.5rem;
}

.modal-content label {
  display: block;
  margin: 1rem 0 0.5rem;
  text-align: left;
}

.modal-content input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-buttons #cancelAddEvent {
  background-color: #f44336;
  color: #fff;
}

#submitForm {
  background-color: red;
  color: #fff;
}

main {
  width: 100%;
  padding-left: 60px;
}
