<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Modal Perfil</title>
</head>
<body>
    <div class="modal-container">
        
        <div class="modal">
            
            <!-- CONTAINER DA ESQUERDA | OPÇÕES -->
            <div class="options-container">

            </div>
            <!-- CONTAINER DIREITO | OPÇÃO SELECIONADA -->
            <div class="option-result">
                
            </div>

        </div>
    
    </div>
    <script src="https://kit.fontawesome.com/0ec44f1edc.js" crossorigin="anonymous"></script>
</body>
</html>