body{ 
    background-color: #383838;
    font-family: Roboto, sans-serif;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.modal{
    background-color: #E9E9E9;
    width: 70vw;
    height: 90vh;
    margin: auto;
    border-radius: 8px;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    
}

.options-container{
    width: 30%;
    height: 100%;
}

.option-result{
    background-color: #fff;
    width: 70%;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 20px;
}

.header-options-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 15px;
    gap: 15px;
}

.profile-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 15px
}

.picture-container{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

}

.picture{
    width: 45px;
    height: 45px;
    background-color: #949494;
    border-radius: 50%;
}

.infos-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos-user p{
    margin-bottom: 3px;
    margin-top: 2px;
    font-weight: bold;
}
.infos-user span{
    color: #949494;
}

.profile-area > button{
    border: none;
    font-size: 14px;
    background-color: #949494;
    padding: 6px 25px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.line-divider{
    height: 1.5px;
    background-color: rgba(148, 148, 148, .5);
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

/* ESTILIZAÇÃO DAS OPÇÕES DE CONFIGURAÇÃO */

.options-select{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px
}

.options-select > span{
    color: #7A7A7A;
    font-size: 18px;
}

.options{
    display: flex;
    flex-direction: column;
}

.option{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 15px;
    font-size: 18px;
    border-radius: 6px;
    width: 90%;
    cursor: pointer;
    transition: all 200ms ease;
    height: 45px;
}

.option > i{
    color: #7A7A7A;
}

.option:hover{
    background-color: #cfcfcf;
}

/* ESTILIZAÇÃO DO FORMULÁRIO DE DADOS PESSOAIS */

form{
    display: flex;
    flex-direction: column;
    gap: 55px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.change-picture{
    display: flex;
    align-items: start;
    gap: 35px
}

.profile-picture{
    width: 140px;
    height: 140px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.upload-picture{
    font-size: 16px;
    border: solid 2px #D9D9D9;
    border-radius: 4px;
    padding: 8px 25px;
    cursor: pointer;
}

.fields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.field > input, .field > select{
    border: solid 2px #D9D9D9;
    border-radius: 4px;
    padding: 10px;
}

.buttons-form-profile{
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 0;
    right: 0;
}

.exit-btn{
    border: none;
    background-color: #ff0004;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.save-btn{
    border: none;
    background-color: #000000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}

/* ESTILIZAÇÃO DO FORM DE CONFIGURAÇÕES OPERACIONAIS */

.paymment-method-container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    user-select: none;
}

.paymment-method{
    display: flex;
    justify-content: space-between;
}
.paymment-method > label{
    cursor: pointer;
}

.paymment-method input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transform: scale(1.5); 
    accent-color: #007bff; 
}

.left-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
iframe{
    height: 180px;
    margin-top: 5px;
}

.right-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#toggle-status-restaurant{
    text-transform: uppercase;
    border: none;
    padding: 2px;
    font-size: 16px;
    height: 40px;
    border-radius: 2px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    transition: all 200ms ease;
}

.toggle-status-btn-open{
    background-color: #3ABA47;
    color: #fff;
}

.toggle-status-btn-close{
    background-color: #ff0000;
    color: #fff;
}

/* ESTILIZAÇÃO DE CARDÁPIO */

