:root {
    --fundo-bg-color: #262626;
    --cinza-bg-color: #383838;
    --branco-bg-color: #FFFFFF;
    --vermelho-bg-color: #FF0000;
    --cinzaclaro-bg-color: #717171;
    --preto-bg-color: #000000;
}