/* HEADER  */
header {
  width: 100%;
  max-width: 1920px;
  min-width: 1024px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 90px;
}

header > p {
  font-size: 25px;
  font-weight: 300;
  color: var(--white);
  margin-left: 10px;
}

header > p > span {
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  margin: 10px;
  max-height: 60px;
}

.user-details > img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.user-details > p {
  font-size: 16px;
  text-align: center;
  color: var(--white);
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}

.perfil-user {
  margin-left: 10px;
  cursor: pointer;
}

.perfil-user > img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}
/* FIM HEADER */

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 88px;
  padding: 10px 14px;
  background-color: #212121;
  border-radius: 8px;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 1000;
}

/* SideBar Aberta */

.sidebar:hover {
  width: 250px;
}

.sidebar:hover > ul > li {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar:hover > ul > li > a {
  display: block;
  margin-left: 20px;
}

.sidebar:hover > ul > li > img {
  width: 20px;
  height: 20px;
}

.sidebar:hover > ul > li > img:nth-of-type(2) {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
}

.sidebar:hover > hr {
  width: 200px;
  margin-left: 10px;
  transition: 0.8s ease;
}

/*  Fim Sidebar Aberta */

.container-top-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.container-top > img {
  width: 40px;
  height: 40px;
}

.sidebar > hr {
  width: 60px;
}

.sidebar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.sidebar > ul > li {
  margin: 10px;
  position: relative;
  transition: 0.5s ease;
  height: 40px;
}

.sidebar > ul > li > a {
  display: none;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.sidebar > ul > li > img {
  width: 25px;
  height: 25px;
  transition: 0.5s ease;
}

.sidebar > ul > li > img:nth-of-type(2) {
  display: none;
}

.sidebar ul > li > .sub-nav {
  display: none;
  padding: 10px;
}

.sidebar ul > li > .sub-nav > ul {
  list-style: none;
}

.sidebar ul > li > .sub-nav > ul > li {
  width: 200px;
  height: 30px;
}

.sidebar ul > li > .sub-nav > ul > li > a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
  text-decoration: none;
}

.sidebar ul > li > .sub-nav.show {
  display: block;
  position: absolute;
  left: 225px;
  height: max-content;
  background-color: #212121;
  transition: 0.5s ease;
}

.arrow {
  transition: 1s ease;
}
/* FIM SIDEBAR */

main {
  margin: 40px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.cards-employee-container{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card-employee {
  width: 415px;
  height: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
}

.card-employee > img {
  width: 350px;
  height: 190px;
  margin-top: 20px;
}

.card-employee > strong {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}

.card-employee > p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-employee > span {
  font-size: 12px;
  font-weight: 400;
}

#details-btn {
  width: 300px;
  height: 45px;
  background-color: #ff6b6b;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

#details-btn:hover {
  background-color: var(--red-color);
}


/* Estilo do modal de edição dos funcionários */

#modal-container{
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  overflow: hidden;
}

#edit-modal{
  background-color: #fff;
  width: 45vw;
  height: 650px;
  margin: auto;
  border-radius: 14px;
}

#banner{
  background-color: red;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  height: 120px;
  margin-bottom: 100px;
}

#profile-pic{
  width: 165px;
  height: 165px;
  background-image: url("../../assets/images/userEmployee.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  position: absolute; /* Para posicionar sobre o banner */
  bottom: -90px; /* Metade da altura da imagem para deixá-la no meio do banner */
  left: 45px;
  z-index: 10; 
}

#header-modal { 
  /* margin-left: 45px; */
  padding: 0 45px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.title-container{
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #262626;
}

.title-container > p{
  color: #606060;
  font-size: 18px;
}

.change-settings-container{
  display: flex;
  gap: 8px
}

.change-settings-container > button {
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .2px;
  cursor: pointer;
}

.checked-button{
  color: #fff;
  background-color: #262626;
  padding: 5px 10px;
  border-radius: 3px;
}

.unchecked-button{
  background: none;
}

.divider{
  height: 1px;
  background-color: #D3D3D3;
  margin-top: 15px
}