<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../chatbot/styles/style.css"/>
    <title>Chatbot</title>
</head>
<body>
    <div class="chat-container">
        <div class="header" id="header">
            <img src="/src/assets/images/logoIfood.svg" id="logo" alt=""/>
            <p>Chatbot inteligente</p>
            <a class="maximizar" id="maximize"><img src="./icons/Expandir.svg" alt=""></a>
            <a class="fechar" id="close"><img src="./icons/Fechar.svg"/></a>
        </div>
        
        <div class="history" id="history">
            <!-- Apenas a mensagem inicial do bot -->
            <div class="bot-message">
                <p>Olá! Como posso ajudar você?</p>
            </div>
        </div>
        
        <div class="input-box">
            <input type="text" id="user-input" placeholder="Escreva aqui..."/>
            <a class="enviar" id="send"><img src="./icons/Enviar.svg" alt=""></a>
            <a class="anexar" id="attach"><img src="./icons/Anexo.svg" alt=""></a>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>
</html>