<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Header Component</title>
  </head>
  <body>
    <header>
      <p>Você está em: <span>Detalhes de pedido</span></p>
      <div class="user-details">
        <img
          src="./../../assets/lightOrDark.svg"
          alt="Alterar modo claro ou escuro"
        />
        <img
          src="./../../assets/notificationIcon.svg"
          alt="Aviso de notificação"
        />
        <p>Usuário</p>
        <div class="perfil-user">
          <img src="./../../assets/user.png" alt="User profile" />
        </div>
      </div>
    </header>
  </body>
</html>
