/* HEADER  */
header {
  width: 90vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header > p {
  font-size: 25px;
  font-weight: 300;
  color: var(--white);
  margin-left: 10px;
}

header > p > span {
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  margin: 10px;
  max-height: 60px;
}

.user-details > img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.user-details > p {
  font-size: 16px;
  text-align: center;
  color: var(--white);
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}

.perfil-user {
  margin-left: 10px;
  cursor: pointer;
}

.perfil-user > img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}
/* FIM HEADER */

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 88px;
  padding: 10px 14px;
  background-color: #212121;
  border-radius: 8px;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 1000;
}

/* SideBar Aberta */

.sidebar:hover {
  width: 250px;
}

.sidebar:hover > ul > li {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar:hover > ul > li > a {
  display: block;
  margin-left: 20px;
}

.sidebar:hover > ul > li > img {
  width: 20px;
  height: 20px;
}

.sidebar:hover > ul > li > img:nth-of-type(2) {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
}

.sidebar:hover > hr {
  width: 200px;
  margin-left: 10px;
  transition: 0.8s ease;
}

/*  Fim Sidebar Aberta */

.container-top-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.container-top > img {
  width: 40px;
  height: 40px;
}

.sidebar > hr {
  width: 60px;
}

.sidebar > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.sidebar > ul > li {
  margin: 10px;
  position: relative;
  transition: 0.5s ease;
  height: 40px;
}

.sidebar > ul > li > a {
  display: none;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.sidebar > ul > li > img {
  width: 25px;
  height: 25px;
  transition: 0.5s ease;
}

.sidebar > ul > li > img:nth-of-type(2) {
  display: none;
}

.sidebar ul > li > .sub-nav {
  display: none;
  padding: 10px;
}

.sidebar ul > li > .sub-nav > ul {
  list-style: none;
}

.sidebar ul > li > .sub-nav > ul > li {
  width: 200px;
  height: 30px;
}

.sidebar ul > li > .sub-nav > ul > li > a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
  text-decoration: none;
}

.sidebar ul > li > .sub-nav.show {
  display: block;
  position: absolute;
  left: 225px;
  height: max-content;
  background-color: #212121;
  transition: 0.5s ease;
}

.arrow {
  transition: 1s ease;
}
/* FIM SIDEBAR */

main {
  margin: 40px;
  padding: 20px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.container-chart {
  width: 470px;
  max-height: 370px;
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.container-chart > p:first-of-type {
  font-size: 1.4em;
  font-weight: bold;
}

.container-chart > p:nth-of-type(2) {
  font-size: 1em;
  font-weight: 400;
  color: gray;
  margin-top: 2px;
  margin-bottom: 10px;
}

select {
  width: 120px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.container-market {
  max-width: 280px;
  max-height: 360px;
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

.container-market > p:first-of-type {
  font-size: 1.4em;
  font-weight: bold;
}

.container-market > p:nth-of-type(2) {
  font-size: 16px;
  color: #8e93a6;
  font-weight: 100;
}

.container-market > canvas {
  max-height: 200px;
  max-width: 200px;
}

.legenda {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
}
.legenda div {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.legenda div span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.legenda div span.vermelho {
  background-color: red;
}
.legenda div span.cinza {
  background-color: lightgray;
}

.container-roi {
  width: 470px;
  max-height: 370px;
  height: 360px;
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.container-roi > p {
  font-size: 1.5em;
  font-weight: bold;
}

.container-invoice {
  width: 1030px;
  height: 360px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.display-data {
  width: 70%;
  max-height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display-data > canvas {
  max-width: 100%;
  max-height: 270px;
}

.container-title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container-title > p {
  font-size: 27px;
  font-weight: bold;
}

.yearSelect {
  width: 100px;
  height: 40px;
  border: 1px solid gray;
  background-color: #8e93a6;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
}

.display-infos {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.31);
}

.meta {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.meta > strong > span {
  color: red;
}

.progressBar {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #262626;
  border-radius: 2px;
}

.progress {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 2px;
  border: 1px solid #262626;
}

.progress > strong {
  color: white;
}

.info-complementar {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  color: #262626;
  display: flex;
  gap: 5px;
}

.info-complementar > span {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.container-turnover {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 370px;
  height: 360px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.container-turnover > canvas {
  max-height: 250px;
}

.header-turnover {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.header p {
  color: #666;
  margin: 0;
  font-size: 14px;
}

.legend {
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.legend-color {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.legend-text {
  font-size: 14px;
  color: #333;
}

.container-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container-nps {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 1030px;
  max-width: 1030px;
  height: 360px;
  max-height: 370px;
}

.container-nps > p {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.container-nps > canvas {
  width: 100%;
  max-width: 100%;
  height: 250px;
  max-height: 250px;
}

.container-claim {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 370px;
  height: 360px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.container-claim > canvas {
  height: 250px;
  max-height: 250px;
}

.container-title-claim {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.container-value {
  width: 200px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-value > strong {
  font-size: 36px;
}

.red-card {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid red;
  position: absolute;
  left: 55px;
  top: 30px;
}

@media only screen and (max-width: 780px) {
  .container-invoice {
    flex-direction: column;
    height: 500px;
  }
  .display-infos {
    width: 50%;
  }
}
